.translationsRow {
  .translationsRow-delete {
    width: 24px;
  }
  input[type=text] {
    width: calc(~"100% - 24px");;
    background: transparent;
    padding: 3px;
    border: 1px solid #ddd;
  }
}
