.filterButton-content-flag {
  &--af {
    background-image: url('img/flags/za.png');
  }

  &--ak {
    background-image: url('img/flags/gh.png');
  }

  &--am {
    background-image: url('img/flags/et.png');
  }

  &--ar {
    background-image: url('img/flags/arl.png');
  }

  &--as {
    background-image: url('img/flags/in.png');
  }

  &--az {
    background-image: url('img/flags/az.png');
  }

  &--be {
    background-image: url('img/flags/by.png');
  }

  &--bg {
    background-image: url('img/flags/bg.png');
  }

  &--bm {
    background-image: url('img/flags/ml.png');
  }

  &--bn {
    background-image: url('img/flags/bd.png');
  }

  &--bo {
    background-image: url('img/flags/cn.png');
  }

  &--br {
    background-image: url('img/flags/fr.png');
  }

  &--bs {
    background-image: url('img/flags/ba.png');
  }

  &--ca {
    background-image: url('img/flags/es.png');
  }

  &--ce {
    background-image: url('img/flags/ru.png');
  }

  &--cs {
    background-image: url('img/flags/cz.png');
  }

  &--cy {
    background-image: url('img/flags/wl.png');
  }

  &--da {
    background-image: url('img/flags/dk.png');
  }

  &--de {
    background-image: url('img/flags/de.png');
  }

  &--dv {
    background-image: url('img/flags/mv.png');
  }

  &--dz {
    background-image: url('img/flags/bt.png');
  }

  &--ee {
    background-image: url('img/flags/gh.png');
  }

  &--el {
    background-image: url('img/flags/gr.png');
  }

  &--en {
    background-image: url('img/flags/en.png');
  }

  &--es {
    background-image: url('img/flags/es.png');
  }

  &--et {
    background-image: url('img/flags/ee.png');
  }

  &--eu {
    background-image: url('img/flags/fr.png');
  }

  &--fa {
    background-image: url('img/flags/ir.png');
  }

  &--ff {
    background-image: url('img/flags/mr.png');
  }

  &--fi {
    background-image: url('img/flags/fi.png');
  }

  &--fo {
    background-image: url('img/flags/fo.png');
  }

  &--fr {
    background-image: url('img/flags/fr.png');
  }

  &--fy {
    background-image: url('img/flags/nl.png');
  }

  &--ga {
    background-image: url('img/flags/ie.png');
  }

  &--gd {
    background-image: url('img/flags/sco.png');
  }

  &--gl {
    background-image: url('img/flags/es.png');
  }

  &--gu {
    background-image: url('img/flags/in.png');
  }

  &--gv {
    background-image: url('img/flags/gb.png');
  }

  &--ha {
    background-image: url('img/flags/ng.png');
  }

  &--he {
    background-image: url('img/flags/il.png');
  }

  &--hi {
    background-image: url('img/flags/in.png');
  }

  &--hr {
    background-image: url('img/flags/hr.png');
  }

  &--hu {
    background-image: url('img/flags/hu.png');
  }

  &--hy {
    background-image: url('img/flags/am.png');
  }

  &--id {
    background-image: url('img/flags/id.png');
  }

  &--ig {
    background-image: url('img/flags/ng.png');
  }

  &--ii {
    background-image: url('img/flags/cn.png');
  }

  &--in {
    background-image: url('img/flags/in.png');
  }

  &--is {
    background-image: url('img/flags/is.png');
  }

  &--it {
    background-image: url('img/flags/it.png');
  }

  &--iw {
    background-image: url('img/flags/il.png');
  }

  &--ja {
    background-image: url('img/flags/jp.png');
  }

  &--ka {
    background-image: url('img/flags/ge.png');
  }

  &--ki {
    background-image: url('img/flags/ke.png');
  }

  &--kk {
    background-image: url('img/flags/kz.png');
  }

  &--kl {
    background-image: url('img/flags/gl.png');
  }

  &--km {
    background-image: url('img/flags/kh.png');
  }

  &--kn {
    background-image: url('img/flags/in.png');
  }

  &--ko {
    background-image: url('img/flags/kr.png');
  }

  &--ks {
    background-image: url('img/flags/in.png');
  }

  &--kw {
    background-image: url('img/flags/gb.png');
  }

  &--ky {
    background-image: url('img/flags/kg.png');
  }

  &--lb {
    background-image: url('img/flags/lu.png');
  }

  &--lg {
    background-image: url('img/flags/ug.png');
  }

  &--ln {
    background-image: url('img/flags/cd.png');
  }

  &--lo {
    background-image: url('img/flags/la.png');
  }

  &--lt {
    background-image: url('img/flags/lt.png');
  }

  &--lu {
    background-image: url('img/flags/cd.png');
  }

  &--lv {
    background-image: url('img/flags/lv.png');
  }

  &--mg {
    background-image: url('img/flags/mg.png');
  }

  &--mk {
    background-image: url('img/flags/mk.png');
  }

  &--ml {
    background-image: url('img/flags/in.png');
  }

  &--mn {
    background-image: url('img/flags/mn.png');
  }

  &--mo {
    background-image: url('img/flags/md.png');
  }

  &--mr {
    background-image: url('img/flags/in.png');
  }

  &--ms {
    background-image: url('img/flags/my.png');
  }

  &--nb {
    background-image: url('img/flags/no.png');
  }

  &--nd {
    background-image: url('img/flags/zw.png');
  }

  &--ne {
    background-image: url('img/flags/in.png');
  }

  &--nl {
    background-image: url('img/flags/nl.png');
  }

  &--nn {
    background-image: url('img/flags/no.png');
  }

  &--no {
    background-image: url('img/flags/no.png');
  }

  &--om {
    background-image: url('img/flags/et.png');
  }

  &--or {
    background-image: url('img/flags/in.png');
  }

  &--os {
    background-image: url('img/flags/ru.png');
  }

  &--pa {
    background-image: url('img/flags/pk.png');
  }

  &--pl {
    background-image: url('img/flags/pl.png');
  }

  &--ps {
    background-image: url('img/flags/af.png');
  }

  &--pt {
    background-image: url('img/flags/pt.png');
  }

  &--qu {
    background-image: url('img/flags/ar.png');
  }

  &--rm {
    background-image: url('img/flags/ch.png');
  }

  &--rn {
    background-image: url('img/flags/bi.png');
  }

  &--ro {
    background-image: url('img/flags/ro.png');
  }

  &--ru {
    background-image: url('img/flags/ru.png');
  }

  &--rw {
    background-image: url('img/flags/rw.png');
  }

  &--se {
    background-image: url('img/flags/no.png');
  }

  &--sg {
    background-image: url('img/flags/cf.png');
  }

  &--sh {
    background-image: url('img/flags/rs.png');
  }

  &--si {
    background-image: url('img/flags/lk.png');
  }

  &--sk {
    background-image: url('img/flags/sk.png');
  }

  &--sl {
    background-image: url('img/flags/si.png');
  }

  &--sn {
    background-image: url('img/flags/zw.png');
  }

  &--so {
    background-image: url('img/flags/so.png');
  }

  &--sq {
    background-image: url('img/flags/al.png');
  }

  &--sv {
    background-image: url('img/flags/se.png');
  }

  &--sr {
    background-image: url('img/flags/rs.png');
  }

  &--sw {
    background-image: url('img/flags/bi.png');
  }

  &--ta {
    background-image: url('img/flags/lk.png');
  }

  &--te {
    background-image: url('img/flags/in.png');
  }

  &--th {
    background-image: url('img/flags/th.png');
  }

  &--ti {
    background-image: url('img/flags/er.png');
  }

  &--tl {
    background-image: url('img/flags/ph.png');
  }

  &--to {
    background-image: url('img/flags/to.png');
  }

  &--tr {
    background-image: url('img/flags/tr.png');
  }

  &--ug {
    background-image: url('img/flags/cn.png');
  }

  &--uk {
    background-image: url('img/flags/ua.png');
  }

  &--ur {
    background-image: url('img/flags/in.png');
  }

  &--uz {
    background-image: url('img/flags/uz.png');
  }

  &--vi {
    background-image: url('img/flags/vn.png');
  }

  &--yi {
    background-image: url('img/flags/il.png');
  }

  &--yo {
    background-image: url('img/flags/ng.png');
  }

  &--zh {
    background-image: url('img/flags/cn.png');
  }

  &--zu {
    background-image: url('img/flags/za.png');
  }

  &--af_NA {
    background-image: url('img/flags/na.png');
  }

  &--af_ZA {
    background-image: url('img/flags/za.png');
  }

  &--ak_GH {
    background-image: url('img/flags/gh.png');
  }

  &--am_ET {
    background-image: url('img/flags/et.png');
  }

  &--ar_AE {
    background-image: url('img/flags/ae.png');
  }

  &--ar_BH {
    background-image: url('img/flags/bh.png');
  }

  &--ar_DJ {
    background-image: url('img/flags/dj.png');
  }

  &--ar_DZ {
    background-image: url('img/flags/dz.png');
  }

  &--ar_EG {
    background-image: url('img/flags/eg.png');
  }

  &--ar_EH {
    background-image: url('img/flags/eh.png');
  }

  &--ar_ER {
    background-image: url('img/flags/er.png');
  }

  &--ar_IL {
    background-image: url('img/flags/il.png');
  }

  &--ar_IQ {
    background-image: url('img/flags/iq.png');
  }

  &--ar_JO {
    background-image: url('img/flags/jo.png');
  }

  &--ar_KM {
    background-image: url('img/flags/km.png');
  }

  &--ar_KW {
    background-image: url('img/flags/kw.png');
  }

  &--ar_LB {
    background-image: url('img/flags/lb.png');
  }

  &--ar_LY {
    background-image: url('img/flags/ly.png');
  }

  &--ar_MA {
    background-image: url('img/flags/ma.png');
  }

  &--ar_MR {
    background-image: url('img/flags/mr.png');
  }

  &--ar_OM {
    background-image: url('img/flags/om.png');
  }

  &--ar_PS {
    background-image: url('img/flags/ps.png');
  }

  &--ar_QA {
    background-image: url('img/flags/qa.png');
  }

  &--ar_SA {
    background-image: url('img/flags/sa.png');
  }

  &--ar_SD {
    background-image: url('img/flags/sd.png');
  }

  &--ar_SO {
    background-image: url('img/flags/so.png');
  }

  &--ar_SS {
    background-image: url('img/flags/ss.png');
  }

  &--ar_SY {
    background-image: url('img/flags/sy.png');
  }

  &--ar_TD {
    background-image: url('img/flags/td.png');
  }

  &--ar_TN {
    background-image: url('img/flags/tn.png');
  }

  &--ar_YE {
    background-image: url('img/flags/ye.png');
  }

  &--as_IN {
    background-image: url('img/flags/in.png');
  }

  &--az_AZ {
    background-image: url('img/flags/az.png');
  }

  &--be_BY {
    background-image: url('img/flags/by.png');
  }

  &--bg_BG {
    background-image: url('img/flags/bg.png');
  }

  &--bm_ML {
    background-image: url('img/flags/ml.png');
  }

  &--bn_BD {
    background-image: url('img/flags/bd.png');
  }

  &--bn_IN {
    background-image: url('img/flags/in.png');
  }

  &--bo_CN {
    background-image: url('img/flags/cn.png');
  }

  &--bo_IN {
    background-image: url('img/flags/in.png');
  }

  &--br_FR {
    background-image: url('img/flags/fr.png');
  }

  &--bs_BA {
    background-image: url('img/flags/ba.png');
  }

  &--ca_AD {
    background-image: url('img/flags/ad.png');
  }

  &--ca_ES {
    background-image: url('img/flags/es.png');
  }

  &--ca_FR {
    background-image: url('img/flags/fr.png');
  }

  &--ca_IT {
    background-image: url('img/flags/it.png');
  }

  &--ce_RU {
    background-image: url('img/flags/ru.png');
  }

  &--cs_CZ {
    background-image: url('img/flags/cz.png');
  }

  &--cy_GB {
    background-image: url('img/flags/gb.png');
  }

  &--da_DK {
    background-image: url('img/flags/dk.png');
  }

  &--da_GL {
    background-image: url('img/flags/gl.png');
  }

  &--de_AT {
    background-image: url('img/flags/at.png');
  }

  &--de_BE {
    background-image: url('img/flags/be.png');
  }

  &--de_CH {
    background-image: url('img/flags/ch.png');
  }

  &--de_DE {
    background-image: url('img/flags/de.png');
  }

  &--de_LI {
    background-image: url('img/flags/li.png');
  }

  &--de_LU {
    background-image: url('img/flags/lu.png');
  }

  &--dz_BT {
    background-image: url('img/flags/bt.png');
  }

  &--ee_GH {
    background-image: url('img/flags/gh.png');
  }

  &--ee_TG {
    background-image: url('img/flags/tg.png');
  }

  &--el_CY {
    background-image: url('img/flags/cy.png');
  }

  &--el_GR {
    background-image: url('img/flags/gr.png');
  }

  &--en_AG {
    background-image: url('img/flags/ag.png');
  }

  &--en_AI {
    background-image: url('img/flags/ai.png');
  }

  &--en_AS {
    background-image: url('img/flags/as.png');
  }

  &--en_AT {
    background-image: url('img/flags/at.png');
  }

  &--en_AU {
    background-image: url('img/flags/au.png');
  }

  &--en_BB {
    background-image: url('img/flags/bb.png');
  }

  &--en_BE {
    background-image: url('img/flags/be.png');
  }

  &--en_BI {
    background-image: url('img/flags/bi.png');
  }

  &--en_BM {
    background-image: url('img/flags/bm.png');
  }

  &--en_BS {
    background-image: url('img/flags/bs.png');
  }

  &--en_BW {
    background-image: url('img/flags/bw.png');
  }

  &--en_BZ {
    background-image: url('img/flags/bz.png');
  }

  &--en_CA {
    background-image: url('img/flags/ca.png');
  }

  &--en_CC {
    background-image: url('img/flags/cc.png');
  }

  &--en_CH {
    background-image: url('img/flags/ch.png');
  }

  &--en_CK {
    background-image: url('img/flags/ck.png');
  }

  &--en_CM {
    background-image: url('img/flags/cm.png');
  }

  &--en_CX {
    background-image: url('img/flags/cx.png');
  }

  &--en_CY {
    background-image: url('img/flags/cy.png');
  }

  &--en_DE {
    background-image: url('img/flags/de.png');
  }

  &--en_DG {
    background-image: url('img/flags/dg.png');
  }

  &--en_DK {
    background-image: url('img/flags/dk.png');
  }

  &--en_DM {
    background-image: url('img/flags/dm.png');
  }

  &--en_ER {
    background-image: url('img/flags/er.png');
  }

  &--en_FI {
    background-image: url('img/flags/fi.png');
  }

  &--en_FJ {
    background-image: url('img/flags/fj.png');
  }

  &--en_FK {
    background-image: url('img/flags/fk.png');
  }

  &--en_FM {
    background-image: url('img/flags/fm.png');
  }

  &--en_GB {
    background-image: url('img/flags/gb.png');
  }

  &--en_GD {
    background-image: url('img/flags/gd.png');
  }

  &--en_GG {
    background-image: url('img/flags/gg.png');
  }

  &--en_GH {
    background-image: url('img/flags/gh.png');
  }

  &--en_GI {
    background-image: url('img/flags/gi.png');
  }

  &--en_GM {
    background-image: url('img/flags/gm.png');
  }

  &--en_GU {
    background-image: url('img/flags/gu.png');
  }

  &--en_GY {
    background-image: url('img/flags/gy.png');
  }

  &--en_HK {
    background-image: url('img/flags/hk.png');
  }

  &--en_IE {
    background-image: url('img/flags/ie.png');
  }

  &--en_IL {
    background-image: url('img/flags/il.png');
  }

  &--en_IM {
    background-image: url('img/flags/im.png');
  }

  &--en_IN {
    background-image: url('img/flags/in.png');
  }

  &--en_IO {
    background-image: url('img/flags/io.png');
  }

  &--en_JE {
    background-image: url('img/flags/je.png');
  }

  &--en_JM {
    background-image: url('img/flags/jm.png');
  }

  &--en_KE {
    background-image: url('img/flags/ke.png');
  }

  &--en_KI {
    background-image: url('img/flags/ki.png');
  }

  &--en_KN {
    background-image: url('img/flags/kn.png');
  }

  &--en_KY {
    background-image: url('img/flags/ky.png');
  }

  &--en_LC {
    background-image: url('img/flags/lc.png');
  }

  &--en_LR {
    background-image: url('img/flags/lr.png');
  }

  &--en_LS {
    background-image: url('img/flags/ls.png');
  }

  &--en_MG {
    background-image: url('img/flags/mg.png');
  }

  &--en_MH {
    background-image: url('img/flags/mh.png');
  }

  &--en_MO {
    background-image: url('img/flags/mo.png');
  }

  &--en_MP {
    background-image: url('img/flags/mp.png');
  }

  &--en_MS {
    background-image: url('img/flags/ms.png');
  }

  &--en_MT {
    background-image: url('img/flags/mt.png');
  }

  &--en_MU {
    background-image: url('img/flags/mu.png');
  }

  &--en_MW {
    background-image: url('img/flags/mw.png');
  }

  &--en_MY {
    background-image: url('img/flags/my.png');
  }

  &--en_NA {
    background-image: url('img/flags/na.png');
  }

  &--en_NF {
    background-image: url('img/flags/nf.png');
  }

  &--en_NG {
    background-image: url('img/flags/ng.png');
  }

  &--en_NH {
    background-image: url('img/flags/nh.png');
  }

  &--en_NL {
    background-image: url('img/flags/nl.png');
  }

  &--en_NR {
    background-image: url('img/flags/nr.png');
  }

  &--en_NU {
    background-image: url('img/flags/nu.png');
  }

  &--en_NZ {
    background-image: url('img/flags/nz.png');
  }

  &--en_PG {
    background-image: url('img/flags/pg.png');
  }

  &--en_PH {
    background-image: url('img/flags/ph.png');
  }

  &--en_PK {
    background-image: url('img/flags/pk.png');
  }

  &--en_PN {
    background-image: url('img/flags/pn.png');
  }

  &--en_PR {
    background-image: url('img/flags/pr.png');
  }

  &--en_PW {
    background-image: url('img/flags/pw.png');
  }

  &--en_RH {
    background-image: url('img/flags/rh.png');
  }

  &--en_RW {
    background-image: url('img/flags/rw.png');
  }

  &--en_SB {
    background-image: url('img/flags/sb.png');
  }

  &--en_SC {
    background-image: url('img/flags/sc.png');
  }

  &--en_SD {
    background-image: url('img/flags/sd.png');
  }

  &--en_SE {
    background-image: url('img/flags/se.png');
  }

  &--en_SG {
    background-image: url('img/flags/sg.png');
  }

  &--en_SH {
    background-image: url('img/flags/sh.png');
  }

  &--en_SI {
    background-image: url('img/flags/si.png');
  }

  &--en_SL {
    background-image: url('img/flags/sl.png');
  }

  &--en_SS {
    background-image: url('img/flags/ss.png');
  }

  &--en_SX {
    background-image: url('img/flags/sx.png');
  }

  &--en_SZ {
    background-image: url('img/flags/sz.png');
  }

  &--en_TC {
    background-image: url('img/flags/tc.png');
  }

  &--en_TK {
    background-image: url('img/flags/tk.png');
  }

  &--en_TO {
    background-image: url('img/flags/to.png');
  }

  &--en_TT {
    background-image: url('img/flags/tt.png');
  }

  &--en_TV {
    background-image: url('img/flags/tv.png');
  }

  &--en_TZ {
    background-image: url('img/flags/tz.png');
  }

  &--en_UG {
    background-image: url('img/flags/ug.png');
  }

  &--en_UM {
    background-image: url('img/flags/um.png');
  }

  &--en_US {
    background-image: url('img/flags/us.png');
  }

  &--en_VC {
    background-image: url('img/flags/vc.png');
  }

  &--en_VG {
    background-image: url('img/flags/vg.png');
  }

  &--en_VI {
    background-image: url('img/flags/vi.png');
  }

  &--en_VU {
    background-image: url('img/flags/vu.png');
  }

  &--en_WS {
    background-image: url('img/flags/ws.png');
  }

  &--en_ZA {
    background-image: url('img/flags/za.png');
  }

  &--en_ZM {
    background-image: url('img/flags/zm.png');
  }

  &--en_ZW {
    background-image: url('img/flags/zw.png');
  }

  &--es_AR {
    background-image: url('img/flags/ar.png');
  }

  &--es_BO {
    background-image: url('img/flags/bo.png');
  }

  &--es_CL {
    background-image: url('img/flags/cl.png');
  }

  &--es_CO {
    background-image: url('img/flags/co.png');
  }

  &--es_CR {
    background-image: url('img/flags/cr.png');
  }

  &--es_CU {
    background-image: url('img/flags/cu.png');
  }

  &--es_DO {
    background-image: url('img/flags/do.png');
  }

  &--es_EA {
    background-image: url('img/flags/ea.png');
  }

  &--es_EC {
    background-image: url('img/flags/ec.png');
  }

  &--es_ES {
    background-image: url('img/flags/es.png');
  }

  &--es_GQ {
    background-image: url('img/flags/gq.png');
  }

  &--es_GT {
    background-image: url('img/flags/gt.png');
  }

  &--es_HN {
    background-image: url('img/flags/hn.png');
  }

  &--es_IC {
    background-image: url('img/flags/ic.png');
  }

  &--es_MX {
    background-image: url('img/flags/mx.png');
  }

  &--es_NI {
    background-image: url('img/flags/ni.png');
  }

  &--es_PA {
    background-image: url('img/flags/pa.png');
  }

  &--es_PE {
    background-image: url('img/flags/pe.png');
  }

  &--es_PH {
    background-image: url('img/flags/ph.png');
  }

  &--es_PR {
    background-image: url('img/flags/pr.png');
  }

  &--es_PY {
    background-image: url('img/flags/py.png');
  }

  &--es_SV {
    background-image: url('img/flags/sv.png');
  }

  &--es_US {
    background-image: url('img/flags/us.png');
  }

  &--es_UY {
    background-image: url('img/flags/uy.png');
  }

  &--es_VE {
    background-image: url('img/flags/ve.png');
  }

  &--et_EE {
    background-image: url('img/flags/ee.png');
  }

  &--eu_ES {
    background-image: url('img/flags/es.png');
  }

  &--fa_AF {
    background-image: url('img/flags/af.png');
  }

  &--fa_IR {
    background-image: url('img/flags/ir.png');
  }

  &--ff_CM {
    background-image: url('img/flags/cm.png');
  }

  &--ff_GN {
    background-image: url('img/flags/gn.png');
  }

  &--ff_MR {
    background-image: url('img/flags/mr.png');
  }

  &--ff_SN {
    background-image: url('img/flags/sn.png');
  }

  &--fi_FI {
    background-image: url('img/flags/fi.png');
  }

  &--fo_DK {
    background-image: url('img/flags/dk.png');
  }

  &--fo_FO {
    background-image: url('img/flags/fo.png');
  }

  &--fr_BE {
    background-image: url('img/flags/be.png');
  }

  &--fr_BF {
    background-image: url('img/flags/bf.png');
  }

  &--fr_BI {
    background-image: url('img/flags/bi.png');
  }

  &--fr_BJ {
    background-image: url('img/flags/bj.png');
  }

  &--fr_BL {
    background-image: url('img/flags/bl.png');
  }

  &--fr_CA {
    background-image: url('img/flags/ca.png');
  }

  &--fr_CD {
    background-image: url('img/flags/cd.png');
  }

  &--fr_CF {
    background-image: url('img/flags/cf.png');
  }

  &--fr_CG {
    background-image: url('img/flags/cg.png');
  }

  &--fr_CH {
    background-image: url('img/flags/ch.png');
  }

  &--fr_CI {
    background-image: url('img/flags/ci.png');
  }

  &--fr_CM {
    background-image: url('img/flags/cm.png');
  }

  &--fr_DJ {
    background-image: url('img/flags/dj.png');
  }

  &--fr_DZ {
    background-image: url('img/flags/dz.png');
  }

  &--fr_FR {
    background-image: url('img/flags/fr.png');
  }

  &--fr_GA {
    background-image: url('img/flags/ga.png');
  }

  &--fr_GF {
    background-image: url('img/flags/gf.png');
  }

  &--fr_GN {
    background-image: url('img/flags/gn.png');
  }

  &--fr_GP {
    background-image: url('img/flags/gp.png');
  }

  &--fr_GQ {
    background-image: url('img/flags/gq.png');
  }

  &--fr_HT {
    background-image: url('img/flags/ht.png');
  }

  &--fr_KM {
    background-image: url('img/flags/km.png');
  }

  &--fr_LU {
    background-image: url('img/flags/lu.png');
  }

  &--fr_MA {
    background-image: url('img/flags/ma.png');
  }

  &--fr_MC {
    background-image: url('img/flags/mc.png');
  }

  &--fr_MF {
    background-image: url('img/flags/mf.png');
  }

  &--fr_MG {
    background-image: url('img/flags/mg.png');
  }

  &--fr_ML {
    background-image: url('img/flags/ml.png');
  }

  &--fr_MQ {
    background-image: url('img/flags/mq.png');
  }

  &--fr_MR {
    background-image: url('img/flags/mr.png');
  }

  &--fr_MU {
    background-image: url('img/flags/mu.png');
  }

  &--fr_NC {
    background-image: url('img/flags/nc.png');
  }

  &--fr_NE {
    background-image: url('img/flags/ne.png');
  }

  &--fr_PF {
    background-image: url('img/flags/pf.png');
  }

  &--fr_PM {
    background-image: url('img/flags/pm.png');
  }

  &--fr_RE {
    background-image: url('img/flags/re.png');
  }

  &--fr_RW {
    background-image: url('img/flags/rw.png');
  }

  &--fr_SC {
    background-image: url('img/flags/sc.png');
  }

  &--fr_SN {
    background-image: url('img/flags/sn.png');
  }

  &--fr_SY {
    background-image: url('img/flags/sy.png');
  }

  &--fr_TD {
    background-image: url('img/flags/td.png');
  }

  &--fr_TG {
    background-image: url('img/flags/tg.png');
  }

  &--fr_TN {
    background-image: url('img/flags/tn.png');
  }

  &--fr_VU {
    background-image: url('img/flags/vu.png');
  }

  &--fr_WF {
    background-image: url('img/flags/wf.png');
  }

  &--fr_YT {
    background-image: url('img/flags/yt.png');
  }

  &--fy_NL {
    background-image: url('img/flags/nl.png');
  }

  &--ga_IE {
    background-image: url('img/flags/ie.png');
  }

  &--gd_GB {
    background-image: url('img/flags/gb.png');
  }

  &--gl_ES {
    background-image: url('img/flags/es.png');
  }

  &--gu_IN {
    background-image: url('img/flags/in.png');
  }

  &--gv_IM {
    background-image: url('img/flags/im.png');
  }

  &--ha_GH {
    background-image: url('img/flags/gh.png');
  }

  &--ha_NE {
    background-image: url('img/flags/ne.png');
  }

  &--ha_NG {
    background-image: url('img/flags/ng.png');
  }

  &--he_IL {
    background-image: url('img/flags/il.png');
  }

  &--hi_IN {
    background-image: url('img/flags/in.png');
  }

  &--hr_BA {
    background-image: url('img/flags/ba.png');
  }

  &--hr_HR {
    background-image: url('img/flags/hr.png');
  }

  &--hu_HU {
    background-image: url('img/flags/hu.png');
  }

  &--hy_AM {
    background-image: url('img/flags/am.png');
  }

  &--id_ID {
    background-image: url('img/flags/id.png');
  }

  &--ig_NG {
    background-image: url('img/flags/ng.png');
  }

  &--ii_CN {
    background-image: url('img/flags/cn.png');
  }

  &--in_ID {
    background-image: url('img/flags/id.png');
  }

  &--is_IS {
    background-image: url('img/flags/is.png');
  }

  &--it_CH {
    background-image: url('img/flags/ch.png');
  }

  &--it_IT {
    background-image: url('img/flags/it.png');
  }

  &--it_SM {
    background-image: url('img/flags/sm.png');
  }

  &--iw_IL {
    background-image: url('img/flags/il.png');
  }

  &--ja_JP {
    background-image: url('img/flags/jp.png');
  }

  &--ka_GE {
    background-image: url('img/flags/ge.png');
  }

  &--ki_KE {
    background-image: url('img/flags/ke.png');
  }

  &--kk_KZ {
    background-image: url('img/flags/kz.png');
  }

  &--kl_GL {
    background-image: url('img/flags/gl.png');
  }

  &--km_KH {
    background-image: url('img/flags/kh.png');
  }

  &--kn_IN {
    background-image: url('img/flags/in.png');
  }

  &--ko_KP {
    background-image: url('img/flags/kp.png');
  }

  &--ko_KR {
    background-image: url('img/flags/kr.png');
  }

  &--ks_IN {
    background-image: url('img/flags/in.png');
  }

  &--kw_GB {
    background-image: url('img/flags/gb.png');
  }

  &--ky_KG {
    background-image: url('img/flags/kg.png');
  }

  &--lb_LU {
    background-image: url('img/flags/lu.png');
  }

  &--lg_UG {
    background-image: url('img/flags/ug.png');
  }

  &--ln_AO {
    background-image: url('img/flags/ao.png');
  }

  &--ln_CD {
    background-image: url('img/flags/cd.png');
  }

  &--ln_CF {
    background-image: url('img/flags/cf.png');
  }

  &--ln_CG {
    background-image: url('img/flags/cg.png');
  }

  &--lo_LA {
    background-image: url('img/flags/la.png');
  }

  &--lt_LT {
    background-image: url('img/flags/lt.png');
  }

  &--lu_CD {
    background-image: url('img/flags/cd.png');
  }

  &--lv_LV {
    background-image: url('img/flags/lv.png');
  }

  &--mg_MG {
    background-image: url('img/flags/mg.png');
  }

  &--mk_MK {
    background-image: url('img/flags/mk.png');
  }

  &--ml_IN {
    background-image: url('img/flags/in.png');
  }

  &--mn_MN {
    background-image: url('img/flags/mn.png');
  }

  &--mr_IN {
    background-image: url('img/flags/in.png');
  }

  &--ms_BN {
    background-image: url('img/flags/bn.png');
  }

  &--ms_MY {
    background-image: url('img/flags/my.png');
  }

  &--ms_SG {
    background-image: url('img/flags/sg.png');
  }

  &--mt_MT {
    background-image: url('img/flags/mt.png');
  }

  &--my_MM {
    background-image: url('img/flags/mm.png');
  }

  &--nb_NO {
    background-image: url('img/flags/no.png');
  }

  &--nb_SJ {
    background-image: url('img/flags/sj.png');
  }

  &--nd_ZW {
    background-image: url('img/flags/zw.png');
  }

  &--ne_IN {
    background-image: url('img/flags/in.png');
  }

  &--ne_NP {
    background-image: url('img/flags/np.png');
  }

  &--nl_AW {
    background-image: url('img/flags/aw.png');
  }

  &--nl_BE {
    background-image: url('img/flags/be.png');
  }

  &--nl_BQ {
    background-image: url('img/flags/bq.png');
  }

  &--nl_CW {
    background-image: url('img/flags/cw.png');
  }

  &--nl_NL {
    background-image: url('img/flags/nl.png');
  }

  &--nl_SR {
    background-image: url('img/flags/sr.png');
  }

  &--nl_SX {
    background-image: url('img/flags/sx.png');
  }

  &--nn_NO {
    background-image: url('img/flags/no.png');
  }

  &--no_NO {
    background-image: url('img/flags/no.png');
  }

  &--om_ET {
    background-image: url('img/flags/et.png');
  }

  &--om_KE {
    background-image: url('img/flags/ke.png');
  }

  &--or_IN {
    background-image: url('img/flags/in.png');
  }

  &--os_GE {
    background-image: url('img/flags/ge.png');
  }

  &--os_RU {
    background-image: url('img/flags/ru.png');
  }

  &--pa_IN {
    background-image: url('img/flags/in.png');
  }

  &--pa_PK {
    background-image: url('img/flags/pk.png');
  }

  &--pl_PL {
    background-image: url('img/flags/pl.png');
  }

  &--ps_AF {
    background-image: url('img/flags/af.png');
  }

  &--pt_AO {
    background-image: url('img/flags/ao.png');
  }

  &--pt_BR {
    background-image: url('img/flags/br.png');
  }

  &--pt_CV {
    background-image: url('img/flags/cv.png');
  }

  &--pt_GW {
    background-image: url('img/flags/gw.png');
  }

  &--pt_MO {
    background-image: url('img/flags/mo.png');
  }

  &--pt_MZ {
    background-image: url('img/flags/mz.png');
  }

  &--pt_PT {
    background-image: url('img/flags/pt.png');
  }

  &--pt_ST {
    background-image: url('img/flags/st.png');
  }

  &--pt_TL {
    background-image: url('img/flags/tl.png');
  }

  &--qu_BO {
    background-image: url('img/flags/bo.png');
  }

  &--qu_EC {
    background-image: url('img/flags/ec.png');
  }

  &--qu_PE {
    background-image: url('img/flags/pe.png');
  }

  &--rm_CH {
    background-image: url('img/flags/ch.png');
  }

  &--rn_BI {
    background-image: url('img/flags/bi.png');
  }

  &--ro_MD {
    background-image: url('img/flags/md.png');
  }

  &--ro_RO {
    background-image: url('img/flags/ro.png');
  }

  &--ru_BY {
    background-image: url('img/flags/by.png');
  }

  &--ru_KG {
    background-image: url('img/flags/kg.png');
  }

  &--ru_KZ {
    background-image: url('img/flags/kz.png');
  }

  &--ru_MD {
    background-image: url('img/flags/md.png');
  }

  &--ru_RU {
    background-image: url('img/flags/ru.png');
  }

  &--ru_UA {
    background-image: url('img/flags/ua.png');
  }

  &--rw_RW {
    background-image: url('img/flags/rw.png');
  }

  &--se_FI {
    background-image: url('img/flags/fi.png');
  }

  &--se_NO {
    background-image: url('img/flags/no.png');
  }

  &--se_SE {
    background-image: url('img/flags/se.png');
  }

  &--sg_CF {
    background-image: url('img/flags/cf.png');
  }

  &--sh_BA {
    background-image: url('img/flags/ba.png');
  }

  &--sh_CS {
    background-image: url('img/flags/cs.png');
  }

  &--sh_YU {
    background-image: url('img/flags/yu.png');
  }

  &--si_LK {
    background-image: url('img/flags/lk.png');
  }

  &--sk_SK {
    background-image: url('img/flags/sk.png');
  }

  &--sl_SI {
    background-image: url('img/flags/si.png');
  }

  &--sn_ZW {
    background-image: url('img/flags/zw.png');
  }

  &--so_DJ {
    background-image: url('img/flags/dj.png');
  }

  &--so_ET {
    background-image: url('img/flags/et.png');
  }

  &--so_KE {
    background-image: url('img/flags/ke.png');
  }

  &--so_SO {
    background-image: url('img/flags/so.png');
  }

  &--sq_AL {
    background-image: url('img/flags/al.png');
  }

  &--sq_MK {
    background-image: url('img/flags/mk.png');
  }

  &--sq_XK {
    background-image: url('img/flags/xk.png');
  }

  &--sr_BA {
    background-image: url('img/flags/ba.png');
  }

  &--sr_CS {
    background-image: url('img/flags/cs.png');
  }

  &--sr_ME {
    background-image: url('img/flags/me.png');
  }

  &--sr_RS {
    background-image: url('img/flags/rs.png');
  }

  &--sr_XK {
    background-image: url('img/flags/xk.png');
  }

  &--sr_YU {
    background-image: url('img/flags/yu.png');
  }

  &--sv_AX {
    background-image: url('img/flags/ax.png');
  }

  &--sv_FI {
    background-image: url('img/flags/fi.png');
  }

  &--sv_SE {
    background-image: url('img/flags/se.png');
  }

  &--sw_CD {
    background-image: url('img/flags/cd.png');
  }

  &--sw_KE {
    background-image: url('img/flags/ke.png');
  }

  &--sw_TZ {
    background-image: url('img/flags/tz.png');
  }

  &--sw_UG {
    background-image: url('img/flags/ug.png');
  }

  &--ta_IN {
    background-image: url('img/flags/in.png');
  }

  &--ta_LK {
    background-image: url('img/flags/lk.png');
  }

  &--ta_MY {
    background-image: url('img/flags/my.png');
  }

  &--ta_SG {
    background-image: url('img/flags/sg.png');
  }

  &--te_IN {
    background-image: url('img/flags/in.png');
  }

  &--th_TH {
    background-image: url('img/flags/th.png');
  }

  &--ti_ER {
    background-image: url('img/flags/er.png');
  }

  &--ti_ET {
    background-image: url('img/flags/et.png');
  }

  &--tl_PH {
    background-image: url('img/flags/ph.png');
  }

  &--to_TO {
    background-image: url('img/flags/to.png');
  }

  &--tr_CY {
    background-image: url('img/flags/cy.png');
  }

  &--tr_TR {
    background-image: url('img/flags/tr.png');
  }

  &--ug_CN {
    background-image: url('img/flags/cn.png');
  }

  &--uk_UA {
    background-image: url('img/flags/ua.png');
  }

  &--ur_IN {
    background-image: url('img/flags/in.png');
  }

  &--ur_PK {
    background-image: url('img/flags/pk.png');
  }

  &--uz_AF {
    background-image: url('img/flags/af.png');
  }

  &--uz_UZ {
    background-image: url('img/flags/uz.png');
  }

  &--vi_VN {
    background-image: url('img/flags/vn.png');
  }

  &--yo_BJ {
    background-image: url('img/flags/bj.png');
  }

  &--yo_NG {
    background-image: url('img/flags/ng.png');
  }

  &--zh_CN {
    background-image: url('img/flags/cn.png');
  }

  &--zh_HK {
    background-image: url('img/flags/hk.png');
  }

  &--zh_MO {
    background-image: url('img/flags/mo.png');
  }

  &--zh_SG {
    background-image: url('img/flags/sg.png');
  }

  &--zh_TW {
    background-image: url('img/flags/tw.png');
  }

  &--zu_ZA {
    background-image: url('img/flags/za.png');
  }
}
